# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\University of Asia Pasific\Semester 3-2\Software Engineering Lab 322\Project of software eng\course-seeling-website-Django--main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
